.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1em 1em 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    height: 330px;
    object-fit: cover;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.yukon figure,
.iceland figure {
    background-position: bottom left;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: white;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.15em;
    color: white;

}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Jazz effect */
figure.effect-jazz {
    background: linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%);
}

figure.effect-jazz img {
    opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    content: '';
    opacity: 0;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
    transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
    opacity: 1;
    transform: scale3d(0.8, 0.8, 1);
}

figure.effect-jazz h2 {
    padding-top: 26%;
    transition: transform 0.35s;
}

figure.effect-jazz p {
    padding: 0.5em 2em;
    text-transform: none;
    font-size: 0.85em;
    opacity: 0;
}

figure.effect-jazz:hover img {
    opacity: 0.7;
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-jazz:hover figcaption::after {
    opacity: 1;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}