/* ======================
Layout and typography
========================= */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rebeccapurple;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: rebeccapurple;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: lavender;
    margin-top: 60px;
    padding: 2px 10px;
}

/* ======================
Recipes
========================= */

.recipe, .game {
    margin: 0 auto;
    text-align: center;
    display: box;
}

.img-link {
    width: 50%;
    max-width: 800px;
    border: solid 10px plum;
}

.img-link:hover {
    border: solid 10px #f2d3ed;
}

/* ======================
Navigation
========================= */

.header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* align-items: center; */
    margin: auto 0;
    padding-left: 20px;
    /* background-color: pink; */
}

#title {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #f5df38;
    /* background-color: blue; */
}

#subtitle {
    margin: 0;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
    /* padding-bottom: 15px; */
    text-transform: uppercase;
    color: orange;
    /* background-color: blueviolet; */
}

#nav-bar {
    background-color: rebeccapurple;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding-right: 2em;
    /* background-color: blue; */
}

.nav-button {
    padding: 0 30px;
    text-align: center;
}

.current-page {
    border-bottom: solid 2px seashell;
    padding: 0.15em 0;
}

.current-page:hover {
    color: lavender;
}

a:link, a:visited {
    color: lavender;
    text-decoration: none;
}

a:focus, a:active, a:hover {
    color: plum;
}

@media (max-width: 800px) {
    #nav-bar {
        /* background-color: blue; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    .header {
        text-align: center;
        padding: 0;
    }

    .nav-buttons {
        flex-direction: column;
        padding: 0;
        height: 100%;
    }

    .nav-button {
        padding: 0.2em;
        margin: 0;
        /* padding-bottom: 0.2em; */
        /* background-color: palegreen; */
    }
}

/* ======================
Guest input
========================= */

.guest-container {
    text-align: center;
    padding-bottom: 40px;
}

#guest-input {
    color: lightgray;
}

#thankyou {
    font-style: italic;
}

/* ======================
Snake game
========================= */

#container {
    margin: 0 auto;
    width: 520px;
    /* border: rebeccapurple solid 2px; */
}

#score-container {
    padding-left: 10px;
}

#grid {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 25px;
    height: 25px;

    /* width: 22px;
    height: 22px; */
    /* border: black solid 1px; */
}

.snake {
    background-color: purple;
}

.apple {
    background-color: red;
}

.apple-img {
    width: 25px;
    height: 25px;
}

#btn-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#start-btn {
    padding: 0.5em;
}