/* ======================
Layout and typography
========================= */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


body, p {
    font-family: 'Roboto', sans-serif;
}

.nav-buttons {
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

img {
    max-width: 100%;
}

h1 {
    color: rebeccapurple;
    font-family: 'Bree Serif', serif;
    font-size: 2.65rem;
    text-align: center;
}

h2 {
    color: rebeccapurple;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;
}

.collage-element {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    /* width: 300px; */
}

/* ======================
Guest input
========================= */

.guest-container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

input {
    border: 0;
    padding: 0.35em;
    margin: 0 0.5em;
}

button {
    border: 0;
    background-color: white;
    padding: 0.35em 0.75em;
    border-radius: 3px;
    cursor: pointer;
}

/* ======================
image links
========================= */

.img-link {
    width: 350px;
    height: 350px;
    max-width: 800px;
    border: solid 10px plum;
    background-size: contain;
}

/* ======================
Recipe pages
========================= */

.recipe-quick-summary {
    margin: 0 1em;
    padding: 0;
}

.recipe-quick-summary p {
    margin: 0;
}

.recipe-measure {
    width: 70px;
}

.recipe-metric {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/*image on the actual recipe page*/
.recipe-img {
    width: 80%;
    max-height: 300px;
    object-fit: cover;
    margin-left: 1rem;
}

.recipe-desc {
    margin: 1.5rem;
    width: 80%;
    font-style: italic;
    line-height: 1.35em;
}

.recipe-container {
    display: flex;   
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.recipe-container p, li, 
.recipe-metric {
    font-weight: 300;
}

.recipe-container h3, 
.recipe-measure {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.04em;
}

@media (min-width: 600px) {

    .recipe-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .recipe-img, 
    .recipe-desc,
    .ingredients-container,
    .instructions-container {
        width: 50%;
    }
}


/* ======================
Links
========================= */

/* Eventually, we want to add a slight "zoom" effect when the user hovers */
.img-link:hover, 
.img-link:focus,
.trip-link:hover,
.trip-link:focus {
    border: solid 10px #f2d3ed;
    transform: scale(1.05);
}

.img-link, 
.trip-link {
    /* width: 300px; */
    border: solid 10px plum;
    transform: scale(1);
    transition: transform 250ms;
    object-fit: cover;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}


/* ======================
Navigation
========================= */

.header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto 0;
    padding-left: 20px;
    /* background-color: pink; */
}

#title {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #f5df38;
    /* background-color: blue; */
}

#subtitle {
    margin: 0;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
    color: orange;
    /* background-color: blueviolet; */
}

#nav-bar {
    background-color: rebeccapurple;
    font-family: 'Bree Serif', serif;
    font-size: 1.175rem;
    display: flex;
    justify-content: space-between;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding-right: 2em;
    /* background-color: blue; */
}

.nav-button {
    padding: 0 1em;
    text-align: center;
}

.current-page {
    border-bottom: solid 2px seashell;
    padding: 0.15em 0;
}

.current-page:hover {
    color: lavender;
}

a:link, a:visited {
    color: lavender;
    text-decoration: none;
}

a:focus, a:active, a:hover {
    color: plum;
}

@media (max-width: 780px) {
    #nav-bar {
        /* background-color: blue; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
    }

    .header {
        text-align: center;
        padding: 0;
    }

    .nav-buttons {
        flex-direction: column;
        padding: 0;
        height: 100%;
    }

    .nav-button {
        padding: 0.2em;
        margin: 0;
        /* background-color: palegreen; */
    }

    .collage {
        flex-direction: column;
    }
}

/* ======================
Pacman game
========================= */

#pacman-container {
    margin: 0 auto;
    width: 430px;
}

#pacman-grid {
    margin: 0 auto;
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    border: black solid 5px;
    background-color: black;
}

#pacman-grid div {
    width: 15px;
    height: 15px;
} 

.pac-dot {
    background-color: #5ae096;
    border: black solid 5px;
    border-radius: 7.5px;
}

.wall {
    background-color: #b7c0f7;
}

.power-pellet {
    background-color: #5ae096;
    border: black solid 2px;
    border-radius: 7.5px;
}

.pacman {
    background-color: yellow;
    border: yellow solid;
    border: black solid 2px;
    border-radius: 7.5px;
}

.blinky {
    background-color: red;
    border: none;
    border-radius: 0;
}

.pinky {
    background-color: pink;
    border: none;
    border-radius: 0;
}

.inky {
    background-color: blue;
    border: none;
    border-radius: 0;
}

.clyde {
    background-color: orange;
    border: none;
    border-radius: 0;
}

.scared-ghost {
    background-color: #e1e4f5;
    border: none;
    border-radius: 0;
}


/* ======================
Snake game
========================= */

#snakegame-container {
    margin: 0 auto;
    width: 508px;
    display: flex;
    flex-wrap: wrap;
    /* border: rebeccapurple solid 2px; */
}

#snakegame-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 508px;
    height: 508px;
    border: black solid 4px;
    background-color: #76d682;
}

.snakegame-square {
    width: 25px;
    height: 25px;
    
    /* border: black solid 1px; */
}

.snake {
    background-color: #02594b;
    /* background: repeating-linear-gradient(
  45deg,
  #25b07f,
  #25b07f 4px,
  #3e6356 4px,
  #3e6356 8px
); */
}

.apple {
    background-color: red;
    border-radius: 12.5px;
}

.apple-img {
    width: 25px;
    height: 25px;
}

/* ======================
General games
========================= */

#snakegame-btn-container, #pacman-btn-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#snakegame-start-btn, #pacman-start-btn {
    padding: 1em;
    border-radius: 0.5em;
    background-color: lavender;
}

/* ======================
Travelling page
========================= */

.trip-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 20px;
    padding: 20px 30px;
    height: 275px;
    background-size: cover;
    background-position: center;
    background-color: #b0b0b0; /* in case images don't load and to darken image when it does load */
    background-blend-mode: multiply;
    color: white;
}

.trip-title {
    color: white;
    font-weight: 400;
}

.new-zealand-pic {
    background-image: url(../images/new_zealand/IMG_3864.JPG);
    background-position: bottom left;
}

.japan-pic {
    background-image: url(../images/japan/IMG_1391.JPG);
}

.iceland-pic {
    background-image: url(../images/iceland/2-6-Vestmannaeyjar-puffins.jpg);
    /* background-position: bottom right; */
}

.yukon-pic {
    background-image: url(../images/yukon/IMG_0209.jpg);
}