/* ======================
Variables
========================= */

:root{
    --clr-dark: rebeccapurple;
    --clr-secondary: plum;
    --clr-tertiary: #f2d3ed;
    --clr-light: lavender;
    --ff-header: 'Bree Serif', serif;
    --ff-fancy-header: 'Dancing Script', cursive;
    --ff-primary: 'Barlow', sans-serif;
}

/* ======================
Layout and typography
========================= */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: var(--clr-light);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
}

body, p {
    font-family: var(--ff-primary);
}

.nav-buttons {
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

img {
    max-width: 100%;
}

h1 {
    color: var(--clr-dark);
    font-family: var(--ff-header);
    font-size: 2.65rem;
    text-align: center;
}

h2 {
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: 2rem;
    text-align: center;
}

.collage-element {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}

/* ======================
Navigation
========================= */

.header, #logo-link {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto 0;
    padding-left: 20px;
    transform: scale(1);
    transition: transform 250ms;
    /* background-color: pink; */
}

.header:hover, 
.header:focus {
    transform: scale(1.05);
}

#title {
    margin: 0;
    font-family: var(--ff-fancy-header);
    font-size: 30px;
    color: #f5df38;
    /* background-color: blue; */
}

#subtitle {
    margin: 0;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
    color: orange;
    /* background-color: blueviolet; */
}

#nav-bar {
    background-color: var(--clr-dark);
    font-family: var(--ff-header);
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding-right: 2em;
    /* background-color: blue; */
}

.nav-button {
    padding: 0 1em;
    text-align: center;
}

.current-page {
    border-bottom: solid 2px var(--clr-light);
    padding: 0.15em 0;
}

.current-page:hover {
    color: var(--clr-light);
}

a:link, a:visited {
    color: var(--clr-light);
    text-decoration: none;
}

a:focus, a:active, a:hover {
    color: var(--clr-secondary);
}

/* Change layout of navigation bar for small screens */
@media (max-width: 820px) {
    #nav-bar {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        /* background-color: blue; */
    }

    .header {
        text-align: center;
        padding: 0;
    }

    .nav-buttons {
        flex-direction: column;
        padding: 0;
        height: 100%;
    }

    .nav-button {
        padding: 0.2em;
        margin: 0;
        /* background-color: palegreen; */
    }

    .collage {
        flex-direction: column;
    }
}

/* ======================
Guest input
========================= */

.guest-container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

input {
    border: 0;
    padding: 0.35em;
    margin: 0 0.5em;
}

button {
    border: 0;
    background-color: white;
    padding: 0.35em 0.75em;
    border-radius: 3px;
    cursor: pointer;
}

/* ======================
image links
========================= */

.img-link {
    width: 350px;
    height: 350px;
    margin: 0 20px;
    border: solid 10px var(--clr-secondary);
    background-size: contain;
}

/* ======================
Main page
========================= */
#main-page {
    display: flex;
    justify-content: center;
    align-items: center;

}

#profile-pic {
    margin: 100px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: right;
    border-radius: 50%;
    transform: rotateY(180deg) scale(1);
    transition: transform 250ms;
}

#profile-pic:hover {
    transform: rotateY(180deg) scale(1.25);
}

#main-subtitle {
    font-family: var(--ff-fancy-header);
    font-size: 2.4em;
    margin: 0.2em;
}

/* ======================
About me
========================= */

.main-container {
    max-width: 1000px;
}

.content-container {
    margin: 2em;
    
}

.content-container p {
    font-size: 1.15em;
    font-style: italic;
    line-height: 1.4em;
}

#CV {
    color: var(--clr-dark);
}

#CV:hover,
#CV:focus {
    color: var(--clr-secondary);
}

.about img {
    margin-top: 40px;
    width: 100%;
    height: 200px;
    object-fit: cover;

}

main .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    /* background-color:teal; */
}

/* ======================
Recipe pages
========================= */

.recipe-main p, li, 
.recipe-metric {
    font-weight: 300;
    font-size: 1.1em;
}

.recipe-desc {
    font-weight: 300;
    font-size: 1.3em;
}

.recipe-quick-summary {
    margin: 0 1em;
    padding: 0;
}

.recipe-quick-summary p {
    margin: 0;
}

.recipe-measure {
    width: 70px;
}

.recipe-metric {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/*image on the actual recipe page*/
.recipe-img {
    width: 80%;
    max-height: 300px;
    object-fit: cover;
    margin-left: 1rem;
}

.recipe-desc {
    margin: 0 1.5rem;
    width: 80%;
    font-style: italic;
    line-height: 1.35em;
    font-size: 1.3em;
}

.recipe-container {
    display: flex;   
    flex-direction: column;
    align-items: left;
    margin: 1rem;
}

.recipe-container h3, 
.recipe-measure {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: var(--ff-header);
    letter-spacing: 0.04em;
}

.instructions-container li {
    margin: 0.6em 0;
}

.ingredients-container li {
    margin: 0.2em 0;
}

@media (min-width: 600px) {

    .recipe-container {
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .recipe-img, 
    .recipe-desc,
    .instructions-container {
        width: 50%;
    }
}


/* ======================
Links
========================= */

/* Eventually, we want to add a slight "zoom" effect when the user hovers */
.img-link:hover, 
.img-link:focus,
.trip-link:hover,
.trip-link:focus {
    border: solid 10px var(--clr-tertiary);
    transform: scale(1.05);
}

.img-link, 
.trip-link {
    /* width: 300px; */
    border: solid 10px var(--clr-secondary);
    transform: scale(1);
    transition: transform 250ms;
    object-fit: cover;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}



/* ======================
Pacman game
========================= */

#pacman-container {
    margin: 0 auto;
    width: 430px;
}

#pacman-grid {
    margin: 0 auto;
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    border: black solid 5px;
    background-color: black;
}

#pacman-grid div {
    width: 15px;
    height: 15px;
} 

.pac-dot {
    background-color: #5ae096;
    border: black solid 5px;
    border-radius: 7.5px;
}

.wall {
    background-color: #b7c0f7;
}

.power-pellet {
    background-color: #5ae096;
    border: black solid 2px;
    border-radius: 7.5px;
}

.pacman {
    background-color: yellow;
    border: yellow solid;
    border: black solid 2px;
    border-radius: 7.5px;
}

.blinky {
    background-color: red;
    border: none;
    border-radius: 0;
}

.pinky {
    background-color: pink;
    border: none;
    border-radius: 0;
}

.inky {
    background-color: blue;
    border: none;
    border-radius: 0;
}

.clyde {
    background-color: orange;
    border: none;
    border-radius: 0;
}

.scared-ghost {
    background-color: #e1e4f5;
    border: none;
    border-radius: 0;
}


/* ======================
Snake game
========================= */

#snakegame-container {
    margin: 0 auto;
    width: 508px;
    display: flex;
    flex-wrap: wrap;
    /* border: rebeccapurple solid 2px; */
}

#snakegame-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 508px;
    height: 508px;
    border: black solid 4px;
    background-color: #76d682;
}

.snakegame-square {
    width: 25px;
    height: 25px;
    
    /* border: black solid 1px; */
}

.snake {
    background-color: #02594b;
    /* background: repeating-linear-gradient(
  45deg,
  #25b07f,
  #25b07f 4px,
  #3e6356 4px,
  #3e6356 8px
); */
}

.apple {
    background-color: red;
    border-radius: 12.5px;
}

.apple-img {
    width: 25px;
    height: 25px;
}

/* ======================
Jeopardy
========================= */

.trivia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trivia-container #value {
    margin-top: 50px;
    color: #31175c;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 800;
}

.trivia-container .text-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    padding: 50px;
    background-color: #31175c;
    color: white;
    font-size: 1.6em;
    text-transform: uppercase;
    /* transition: transform 250ms;
    transform: scale(1); */
}

.trivia-container button {
    font-size: 1.25em;
    text-transform: uppercase;
    background: orange;
    color: white;
    margin: 1em;
    border-radius: 10px;
    padding: 0.6em;
}

/* ======================
Bits + Bytes
========================= */

#joke-setup,
#joke-punchline {
    width: 300px;
    height: 100px;
    border: rebeccapurple solid 1px;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
}

.setup, .punchline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-joke-btn,
#punchline-btn {
    color: rebeccapurple;
    font-size: 1.2em;
    background-color: plum;
    border-radius: 5px;
    padding: 10px 15px;
}

#new-joke-btn:hover,
#punchline-btn:hover,
#new-joke-btn:focus,
#punchline-btn:focus {
    background-color: #f2d3ed;
}

/* ======================
General layout for projects
========================= */

#snakegame-btn-container, 
#pacman-btn-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#snakegame-start-btn, 
#pacman-start-btn {
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-weight: 400;
    font-family: var(--ff-primary);
    font-size: 1em;
}

#snakegame-start-btn:hover, 
#snakegame-start-btn:focus,
#pacman-start-btn:hover,
#pacman-start-btn:focus {
    background-color: var(--clr-secondary);
}

/* ======================
Travelling page
========================= */

.trip-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px; /* actual width is 300px in border-box */
    height: 340px; /* actual height is 300px in border-box */
    margin: 20px;
    padding: 20px 30px;
    background-size: cover;
    background-position: center;
    background-color: #b0b0b0; /* in case images don't load and to darken image when it does load */
    background-blend-mode: multiply;
    color: white;
}

.trip-title {
    color: white;
    font-weight: 400;
}

.new-zealand-pic {
    background-image: url(../images/new_zealand/IMG_3864.JPG);
    background-position: bottom left;
}

.japan-pic {
    background-image: url(../images/japan/IMG_1391.JPG);
}

.iceland-pic {
    background-image: url(../images/iceland/2-6-Vestmannaeyjar-puffins.jpg);
    /* background-position: bottom right; */
}

.yukon-pic {
    background-image: url(../images/yukon/IMG_0209.jpg);
}

/* ======================
Carousel for individual travelling page
========================= */

.carousel {
    position: relative;
}

.carousel-item {
    display: none;
}

.carousel-item img {
    max-width: 90%;
    max-height: 50vh;
    object-fit: cover;
}

.carousel-item-visible {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeVisibility 0.5s;
}

.carousel-actions button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.carousel-actions button:hover,
.carousel-actions button:focus {
    background-color: rgba(255, 255, 255, 0.9);
}

#btn-prev {
    position: absolute;
    left: 5.5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#btn-next {
    position: absolute;
    right: 5.5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

@keyframes fadeVisibility {
    0% { opacity: 0.6; }
    100% { opacity: 1; }
}

/* ======================
To-do List app
========================= */

.todo-list-container {
    --hover-opacity: 0.6;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 100px;
}

.todo-list-container form {
    display: flex;
}

.todo-list-container button {
    cursor: pointer;
    background: 0;
    border: 0;
}

.btn.create {
    font-size: 1.5em;
    font-weight: 800;
    padding: 0;
    transition: opacity 250ms ease-in;
}

.btn.create:hover {
    opacity: var(--hover-opacity);
}

.btn.delete {
    font-size: 0.8em;
    transition: opacity 100ms;
}

.btn.delete:hover,
.btn.delete:focus {
    opacity: var(--hover-opacity);
}

.task-list {
    line-height: 1.7;
    font-size: 1rem;
}

.list-item {
    cursor: pointer;
}

.list-item:hover {
    opacity: var(--hover-opacity);
}

.active-list {
    font-weight: 700;
}

.new-input {
    background: transparent;
    border: 0;
    border-bottom: solid 1px var(--clr-dark);
    padding-bottom: 0.5em;
    font-size: inherit;
    font-family: var(--ff-primary);
    transition: border-bottom 150ms ease-in;
    order: 2;
}

.new-input:focus,
.new-input:hover {
    border-bottom-width: 3px;
}

.new-input:focus::placeholder,
.new-input:hover::placeholder {
    opacity: 0.3;
}

.all-tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.all-tasks h2 {
    margin: 0.5rem;
}

.todo-list {
    --spacer: 1.5rem;

    font-size: 1.3em;
    background: white;
    color: var(--clr-dark);
    margin: 0;
    width: 60%;
    max-width: 600px;
}

.todo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--spacer);
}

.todo-body {
    position: relative;
    padding: var(--spacer);
}

.todo-header, .todo-header * {
    background: var(--clr-dark);
    color: white;
}

.todo-header * {
    padding: 0;
    margin: 0;
}

.todo-title {
    margin-right: 1em;
}

.task-count {
    font-size: 1rem;
    font-weight: 300;
}

.delete-stuff * {
    font-family: var(--ff-primary);
    color: var(--clr-dark);
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task * {
    margin: 0.4em;
}

.task label {
    display: inline-flex; /* this will allow us to create a cross-out that is the length of the text */
    cursor: pointer;
    position: relative;
}

.task {
    position: relative;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: var(--clr-dark);
    opacity: 0.2;
}

.custom-checkbox {
    --size: 0.65em;
    display: inline-block;
    margin-right: 0.5em;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border: 2px solid var(--clr-dark);
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    opacity: var(--hover-opacity);
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: var(--clr-dark);
    border-color: var(--clr-dark);
    box-shadow: inset 0 0 0 0.9px white;
}

/* When an item gets checked */
[type="checkbox"]:checked + label {
    opacity: 0.5;
}

/* When an item gets crossed off */
.task label::after {
    content: '';
    position: absolute;
    left: 1.5em;
    right: 0;
    bottom: 48%;
    height: 2px;
    background: var(--clr-dark);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}

.delete-stuff {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
}

/* small screens */
@media (max-width: 670px) {
    
    /* remove the underline for each task */
    .task::after {
        opacity: 0;
    }

    .todo-body .new-input {
        border: 0;
    }
}