/* ======================
Layout and typography
========================= */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rebeccapurple;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: rebeccapurple;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: lavender;
    margin-top: 60px;
    padding: 2px 10px;
}

/* ======================
Recipes
========================= */

.recipe {
    margin: 0 auto;
    text-align: center;
    display: box;
}

img {
    width: 50%;
    border: solid 10px plum;
}

img:hover {
    border: solid 10px #f2d3ed;
}

/* ======================
Navigation
========================= */

#navbar {
    background-color: rebeccapurple;
    color: seashell;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navButton {
    padding: 2px 30px;
    text-align: center;
}

.current-page {
    border-bottom: solid 2px seashell;
}

a:link, a:visited {
    color: lavender;
    text-decoration: none;
}

a:focus, a:active, a:hover {
    color: plum;
}


/* ======================
Guest input
========================= */

.guest-container {
    text-align: center;
    padding-bottom: 40px;
}

#guest-input {
    color: lightgray;
}

#thankyou {
    font-style: italic;
}
