/* ======================
Layout and typography
========================= */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rebeccapurple;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: rebeccapurple;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: lavender;
    margin-top: 60px;
    padding: 2px 10px;
}

/* ======================
Recipes
========================= */

.recipe {
    margin: 0 auto;
    text-align: center;
    display: box;
}

img {
    width: 50%;
    max-width: 800px;
    border: solid 10px plum;
}

img:hover {
    border: solid 10px #f2d3ed;
}

/* ======================
Navigation
========================= */

.header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* align-items: center; */
    margin: auto 0;
    padding-left: 20px;
    /* background-color: pink; */
}

#title {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #f5df38;
    /* background-color: blue; */
}

#subtitle {
    margin: 0;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
    /* padding-bottom: 15px; */
    text-transform: uppercase;
    color: orange;
    /* background-color: blueviolet; */
}

#nav-bar {
    background-color: rebeccapurple;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding-right: 2em;
}

.nav-button {
    padding: 0 30px;
    text-align: center;
}

.current-page {
    border-bottom: solid 2px seashell;
    padding: 0.25em 0;
}

.current-page:hover {
    color: lavender;
}

a:link, a:visited {
    color: lavender;
    text-decoration: none;
}

a:focus, a:active, a:hover {
    color: plum;
}

@media (max-width: 600px) {
    #nav-bar {
        /* background-color: blue; */
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}

/* ======================
Guest input
========================= */

.guest-container {
    text-align: center;
    padding-bottom: 40px;
}

#guest-input {
    color: lightgray;
}

#thankyou {
    font-style: italic;
}
